.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
    /* width: 100%; */
    margin-top: 100px;
    padding: 0 4%;
}
.section .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
