
:root{
    --lichtdonker: #212121;
    --donker: #1a1a1a;
    --wit: #ffffff;

/*    oproepen var(--groen)*/

}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
    width: 100%;
    padding: 50px 4%;
    &.container {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
         width: 100%;
         max-width: 1280px;
         margin: 0 auto;
    }
}

.main_menu{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 4%;
    background-color: var(--lichtdonker);
    
    & .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;

        & ul{
            list-style: none; 
            display: flex;
            flex-direction: row;
            gap: 20px;
            
            & a{
                color: #bababab3;
                text-decoration: none;
                &:hover{
                   color: #ff9d00; 
                }
            }
        }
    }
}



