
:root{
    --lichtdonker: #212121;
    --donker: #1a1a1a;
    --wit: #ffffff;

/*    oproepen var(--groen)*/

}

body{
    background-color: var(--lichtdonker);
    color: lightgray;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
    width: 100%;
    padding: 0 4%;
    margin-top: 100px;
    & .container {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: flex-start;
         width: 100%;
         max-width: 1280px;
         margin: 0 auto;
    }
}

.main_menu{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 4%;
    background-color: var(--donker);
    
    & .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;

        & ul{
            list-style: none; 
            display: flex;
            flex-direction: row;
            gap: 20px;
            
            & a{
                color: #bababab3;
                text-decoration: none;
                &:hover{
                   color: #ff9d00; 
                }
            }
        }
    }
}

.imgtxt{
    & .block{
        flex: 1 0 0;
        &.block-image{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            & img {
                width: 100%;
            }
        }
        &.block-tekst{
            width: 100%;
            padding-left: 30px;
            & h2{
                margin-bottom: 20px;
            }
        }
    }
}

/* .imgtxt .container:nth-child(2n){
        flex-direction: row-reverse;
    } */
