@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.button {
  padding: 15px 45px;
  border-radius: 5px;
  background-color: #ff4500;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #ff4500;
}
.button.alt {
  background-color: #fff7f6;
  color: #ff4500;
}
.button:hover {
  background-color: red;
}

a {
  text-decoration: none;
  color: #000000;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: default;
  width: 100%;
  padding: 100px 4%;
}
.section .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.section.beige {
  background-color: #fff7f6;
}

header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 4%;
}
header .container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  height: 75px;
}
header .container span {
  color: #ff4500;
}
header .container ul {
  margin: 0 0 0 0;
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
header .container ul li {
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

footer {
  position: relative;
}
footer .footer-section {
  padding-bottom: 0;
  align-items: center;
}
footer .footer-section .container {
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  max-width: 1280px;
}
footer .footer-section .container .inner-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
}

.txtImg .container {
  width: 100%;
  padding: 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.txtImg .container .block {
  flex: 1 0 0;
}
.txtImg .container .block.tekst-block {
  width: 100%;
  position: relative;
}
.txtImg .container .block.tekst-block .tekst {
  margin-bottom: 30px;
}
.txtImg .container .block.image-block {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured .container ul {
  column-count: 5;
  list-style: none;
  padding: 0;
}
.featured .container .inner-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-count: 3;
}
.featured .container .inner-wrapper ul {
  width: 100%;
  column-count: revert;
  display: flex;
  flex-direction: column;
}

.services .container .header-wrapper {
  display: flex;
  flex-direction: row;
}
.services .container .header-wrapper .button {
  justify-content: flex-end;
}
.services .container .content-wrapper {
  column-count: 3;
  padding-top: 50px;
}
.benefits .container .header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.benefits .container .header-wrapper hr {
  width: 100%;
}
.benefits .container .content-wrapper {
  padding-top: 50px;
  column-count: 3;
  width: 100%;
}
.benefits .container .content-wrapper .benefits-wrapper {
  width: 100%;
}
.benefits .container .content-wrapper .benefits-wrapper ul {
  padding: 0;
  list-style: none;
}
.benefits .container .content-wrapper .benefits-wrapper ul li:before {
  content: "✓ ";
}
.benefits .container .content-wrapper .benefits-wrapper img {
  max-width: 89%;
  width: 100%;
}

.team .container .content-wrapper {
  column-count: 2;
}
.team .container .content-wrapper .team-wrapper {
  display: flex;
  flex-direction: row;
}
.team .container .content-wrapper .team-wrapper img {
  max-width: 50%;
}
.team .container .content-wrapper .team-wrapper .inner-wrapper {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
